@font-face {
  font-family: 'Batangas';
  src: url('../fonts/Batangas-Bold.woff2') format('woff2'),
      url('../fonts/Batangas-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

